@model Entities.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/css")
}

<h2>Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                <h3>Movies with this category:</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int item = 0; item < Model.Movies.Count; item++)
        {
            <tr>
                <td>
                    <img src=@ViewData.Model.Movies.ElementAt(item).Image class="thumbnail">
                </td>
                <td>
                    @ViewData.Model.Movies.ElementAt(item).Title
                </td>
                <td>
                    @ViewData.Model.Movies.ElementAt(item).Price
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Movies", new { id = Model.Movies.ElementAt(item).Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
